*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.container{
    width: 80%;
    min-height: 100px;
    margin: auto;
}

/* header */
header{
    height: 80px;
    background-color: #0084FD;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.container.header{
    display: flex;
    justify-content: space-between;
    min-height: 50px;
    align-items: center;
}

/* menu desktop */
#menu-list{
    list-style-type: none;
    display: flex;
    font-size: 20px;
}

#menu-list li{
    padding-left: 50px;
}

#menu-desktop input{
    padding: 8px 15px;
    border-radius: 20px;
    border: none;
}

#menu-desktop a{
    color: white;
    text-decoration: none;
}

#menu-desktop a:hover{
    color: grey;
    text-decoration: underline;
    cursor: pointer;
}

#menu-mobile{
     display: none;
   }

   /* header tablet/mobile */
@media screen and (max-width:768px) {
    #menu-desktop{
        display: none;
    }

    .container.header{
        padding: 0 20px;
    }


    #menu-mobile{
        display: block;
    }
}


/* corpo centrale */

/* application section */
.section.application{
    padding-top: 130px;
}

.row-up, .row-down{
    display: flex;
}

.col.demo, .col.code, .col.web, .col.develop, .col.branding{
    background-color: #B5DDFF;
    min-height: 150px;
    margin: 10px;
}

/* slide demo */
.col.demo{
    width: 70%;
}

.col.demo{
    display: flex;
    background-color: #B5DDFF;
    border-radius: 20px;
}

/* sub col sinistra */
.sub-col.left{
    width: 50%;
    padding: 10px;
}

.sub-col.right{
    width: 50%;
    padding: 0 10px;
}

.sub-col.left h2, .sub-col.left p{
    padding-bottom: 30px;
}

.container.application h2{
    color: #0084FD;
    padding-top: 30px;
}

.container.application p{
    color: grey;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 20px;
}

.button{
    color: white;
    padding: 10px 30px;
    background-color: #0084FD;
    border-radius: 20px;
    border: none;
}

/* sub col destra */
.sub-col.right img{
    width: 100%;
    padding-top: 30px;
    padding-right: 100px;
    display: block;
}

/* slide code */
.col.code{
    width: 30%;
    text-align: center;
    border-radius: 20px;
}

.logo-slide{
    font-size: 30px;
    margin-top: 50px;
}

/* row down */
.col.web, .col.develop{
     width: 35%;
     text-align: center;
    border-radius: 20px;
}

.col.web{
    margin-right: 0;
    text-align: center;
    border-radius: 20px;
}

.col.develop{
    margin-left: 0;
    text-align: center;
    border-radius: 20px;
}

.col.branding{
    width: 30%;
    text-align: center;
    border-radius: 20px;
}

/* application section tablet */
@media screen and  (max-width:768px) {
    .container{
        width: 100%;
    }
}

/* about-ass mobile */
@media screen and (max-width:480px) {
    .row-up, .row-down{
        display: block;
    }
    
    .col.demo, .col.code, .col.web, 
    .col.develop, .col.branding{
      width: auto;
      margin: 20px;
    }
}

/* planning section */
.container.planning{
    display: flex;
    justify-content: center;
}

.col.strategic-plan, .col.app-develop{ 
    min-height: 150px;
    padding: 20px;
}

.container.planning img{
    width: 100%;
}

.col.strategic-plan{
    width: 40%;
    color: white;
    margin-right: 10px;
}

.col.strategic-plan h2, .col.strategic-plan p{ 
    padding-top: 50px;
}

.col.app-develop{
    width: 30%;
    text-align: center;
    margin-left: 10px;
    margin-top: 200px;
    border-radius: 20px;
    background-color: #0084FD;
}

.col.app-develop i{
    background-color: #0084FD;
    margin-top: 30px;
    font-size: 40px;
    padding: 10px 15px;
    border-radius: 50%;
}






/* planning section tablet */
@media screen and  (max-width:768px) {
    .container.planning{
        display: block;
    }

    .col.strategic-plan, .col.app-develop{
        margin: auto;
        width: 100%;
    }
}

/* about-ass mobile */
@media screen and (max-width:480px) {
    .col.strategic-plan, .col.app-develop {
        margin: 20px;
        width: auto;
    }  
}


/* testimonial section */
.container.testimonials .col{
    background-color: orange;
    border: 1px solid black;
    min-height: 150px;
    margin: 10px;
}

.col.testimonials{
    text-align: center;
    padding: 30px 70px;
}

.col.testimonials h2{
    color: #9593e6;
    padding-bottom: 20px;
}

.col.testimonials h4{
    font-weight: 300;
    padding-bottom: 20px;
}

.col.nat, .col.bob, .col.celia{
    display: flex;
    justify-content: space-around;
    border-radius: 20px;
    background-color: #9593e6;
}

.sub-testim.left{
    width: 150px;
    max-height: 150px;
    border: 1px solid black;
    margin: 20px 0;
    border-radius: 50%;
}

.sub-testim.right{
    width: 80%;
    border: 1px solid black;
    margin: 20px 0;
}

.container.testimonials p, .container.testimonials h4{
    padding: 20px;
}

.col.nat .sub-testim.left{
    background-image: url(../img/testimonial1.jpg);
    background-size: cover;
    background-position: center;
}

.col.celia .sub-testim.left{
    background-image: url(../img/testimonial2.jpg);
    background-size: cover;
    background-position: center;
}

.col.bob .sub-testim.left{
    background-image: url(../img/testimonial3.jpg);
    background-size: cover;
    background-position: center;
}

/* benefits section */
.row.benefits{
    display: flex;
    flex-wrap: wrap;
}

.container.benefits{
    text-align: center;
}

.container.benefits .col{
    background-color: orange;
    border: 1px solid black;
    min-height: 150px;
    margin: 10px;
    width: calc(100%/3 - 20px);
}

.container.benefits h2{
    font-size: 40px;
    color: #9593e6;
    padding: 30px;
}

.row.benefits .col{
    text-align: left;
    padding: 20px;
    color: #9593e6;
}

.row.benefits .col span{
    font-size: 40px;
    font-weight: 600;
}

.row.benefits .col h4,
.row.benefits .col p,
.row.benefits .col input{
    margin-top: 20px;
}

.row.benefits .col input{
    padding: 5px 30px;
    color: white;
    background-color: #9593e6;
    border: none;
    border-radius: 20px;
}


/* benefits section tablet */
@media screen and  (max-width:768px) {
    .container.benefits .col{
        width: calc(100%/2 - 20px);
    }
}

/* about-ass mobile */
@media screen and (max-width:480px) {
    .row.benefits{
        display: block;
    }   

    .container.benefits .col{
        width: auto;
    }
}

/* about-ass section */
.container.about-ass{
    display: flex;
}

.about-ass .col{
    background-color: orange;
    border: 1px solid black;
    min-height: 150px;
    margin: 10px;
}

.about-par{
    width: 75%;
}

.about-img{
    width: 25%;
}

/* about-ass mobile */
@media screen and (max-width:480px) {
    .container.about-ass{
        display: block;
    }

    .about-par, .about-img{
        width: auto;
        margin: 20px;
    }
}



/* footer */
footer{
    min-height: 100px;
}




/* debug */
.container{
    background-color: green;
    border: 1px solid black;
    margin-bottom: 20px;
    margin-top: 20px;
}

section{
    background-color: #9593e6;
    /* border: 1px solid black;
    margin-top: 20px; */
}

footer{
    background-color: grey;
    border: 1px solid black;
}