*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.container{
    width: 80%;
    min-height: 100px;
    margin: auto;
}

/* header */
header{
    height: 80px;
    background-color: #0084FD;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.container.header{
    display: flex;
    justify-content: space-between;
    min-height: 50px;
    align-items: center;
}

/* menu desktop */
#menu-list{
    list-style-type: none;
    display: flex;
    font-size: 20px;
}

#menu-list li{
    padding-left: 50px;
}

#menu-desktop input{
    padding: 8px 15px;
    border-radius: 20px;
    border: none;
}

#menu-desktop a{
    color: white;
    text-decoration: none;
}

#menu-desktop a:hover{
    color: grey;
    text-decoration: underline;
    cursor: pointer;
}


#menu-mobile{
     display: none;
   }


   /* header tablet/mobile */
@media screen and (max-width:768px) {
    #menu-desktop{
        display: none;
    }

    .container.header{
        padding: 0 20px;
    }


    #menu-mobile{
        display: block;
    }
}


/* corpo centrale */

/* application section */
.section.application{
    padding-top: 130px;
    background-color: blueviolet;
    border: 1px solid black;
}

.row-up, .row-down{
    display: flex;
}

.col.demo, .col.code, .col.web, .col.develop, .col.branding{
    background-color: orange;
    border: 1px solid black;
    min-height: 150px;
    margin: 10px;
}

.col.demo{
    width: 70%;
}

.col.code{
    width: 30%;
}

.col.web, .col.develop{
  width: 35%;
}

.col.web{
    margin-right: 0;
}

.col.develop{
    margin-left: 0;
}

.col.branding{
    width: 30%;
}

/* application section tablet */
@media screen and  (max-width:768px) {
    .container{
        width: 100%;
    }
}

/* about-ass mobile */
@media screen and (max-width:480px) {
    .row-up, .row-down{
        display: block;
    }
    
    .col.demo, .col.code, .col.web, 
    .col.develop, .col.branding{
      width: auto;
      margin: 20px;
    }
   
}


/* planning section */
.container.planning{
    display: flex;
    justify-content: center;
}

.col.strategic-plan, .col.app-develop{
    width: 40%;
    background-color: orange;
    border: 1px solid black;
    min-height: 150px;
}


/* planning section tablet */
@media screen and  (max-width:768px) {
    .container.planning{
        display: block;
    }

    .col.strategic-plan, .col.app-develop{
        margin: auto;
        width: 100%;
    }
}

/* about-ass mobile */
@media screen and (max-width:480px) {
    .col.strategic-plan, .col.app-develop {
        margin: 20px;
        width: auto;
    }  
}


/* testimonial section */
.container.testimonials .col{
    background-color: orange;
    border: 1px solid black;
    min-height: 150px;
    margin: 10px;
}

/* benefits section */
.row.benefits{
    display: flex;
    flex-wrap: wrap;
}

.container.benefits{
    text-align: center;
}

.container.benefits .col{
    background-color: orange;
    border: 1px solid black;
    min-height: 150px;
    margin: 10px;
    width: calc(100%/3 - 20px);
}

/* benefits section tablet */
@media screen and  (max-width:768px) {
    .container.benefits .col{
        width: calc(100%/2 - 20px);
    }
}

/* about-ass mobile */
@media screen and (max-width:480px) {
    .row.benefits{
        display: block;
    }   

    .container.benefits .col{
        width: auto;
    }
}

/* about-ass section */
.container.about-ass{
    display: flex;
}

.about-ass .col{
    background-color: orange;
    border: 1px solid black;
    min-height: 150px;
    margin: 10px;
}

.about-par{
    width: 75%;
}

.about-img{
    width: 25%;
}

/* about-ass mobile */
@media screen and (max-width:480px) {
    .container.about-ass{
        display: block;
    }

    .about-par, .about-img{
        width: auto;
        margin: 20px;
    }
}



/* footer */
footer{
    min-height: 100px;
}




/* debug */
.container{
    background-color: green;
    border: 1px solid black;
    margin-bottom: 20px;
    margin-top: 20px;
}

section{
    background-color: blueviolet;
    border: 1px solid black;
    margin-top: 20px;
}

footer{
    background-color: grey;
    border: 1px solid black;
}