*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 80%;
    min-height: 100px;
    margin: auto;
}

/* header */
header{
    height: 90px;
    background-color: blue;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.container.header{
    display: flex;
    justify-content: space-between;
    min-height: 50px;
    align-items: center;
}

#logo, nav{
    background-color: blueviolet;
    border: 1px solid black;
    min-height: 50px;
    min-width: 50px;
}

#menu-mobile{
     display: none;
   }


   /* header tablet */
@media screen and (max-width:768px) {
    #menu-desktop{
        display: none;
    }

    #menu-mobile{
        display: block;
    }
}


/* corpo centrale */

/* application section */
.section.application{
    padding-top: 130px;
    background-color: blueviolet;
    border: 1px solid black;
}

.row-up, .row-down{
    display: flex;
}

.col.demo, .col.code, .col.web, .col.develop, .col.branding{
    background-color: orange;
    border: 1px solid black;
    min-height: 150px;
    margin: 10px;
}

.col.demo{
    width: 70%;
}

.col.code{
    width: 30%;
}

.col.web, .col.develop{
  width: 35%;
}

.col.web{
    margin-right: 0;
}

.col.col.develop{
    margin-left: 0;
}

.col.branding{
    width: 30%;
}

/* application section tablet */
@media screen and  (max-width:768px) {
    .container{
        width: 100%;
    }
}


/* planning section */
.container.planning{
    display: flex;
    justify-content: center;
}

.col.strategic-plan, .col.app-develop{
    width: 40%;
    background-color: orange;
    border: 1px solid black;
    min-height: 150px;
}


/* planning section tablet */
@media screen and  (max-width:768px) {
    .container.planning{
        display: block;
    }

    .col.strategic-plan, .col.app-develop{
        margin: auto;
        width: 100%;
    }
}

/* testimonial section */
.container.testimonials .col{
    background-color: orange;
    border: 1px solid black;
    min-height: 150px;
    margin: 10px;
}



/* footer */
footer{
    min-height: 100px;
}




/* debug */
.container{
    background-color: green;
    border: 1px solid black;
    margin-bottom: 20px;
    margin-top: 20px;
}

section{
    background-color: blueviolet;
    border: 1px solid black;
    margin-top: 20px;
}

footer{
    background-color: grey;
    border: 1px solid black;
}